.aboutPageRoot {
    margin-top: 65px;
    font-family: "Roboto";
    .team-gallery-container {
        width: 60%;
        margin: 10% 30% 10% 10%;
        .member-card-container {
            display: flex;
            .avatar {
                width: 45%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            }
            .profile {
                width: 55%;
                padding: 0 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: gray;
                color: white;
            }
        }
    }
    .picture-card-container {
        display: flex;
        width: 80%;
        margin: 5% auto;
        .picture-panel {
            width: 40%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
            @media (max-width: 960px) {
                width: 100%;
            }
        }
        .description-panel {
            width: 60%;
            display: flex;
            align-items: center;
            padding: 0 5%;
            p {
                font-size: 25px;
            }
            @media (max-width: 960px) {
                width: 100%;
            }
        }
        @media (max-width: 960px) {
            flex-direction: column;
        }
    }
    p.bottomPanel {
        margin: 10% 10%;
        font-size: 20px;
    }
}
