.contactPageRoot {

    margin-top: 65px;
    padding: 0 5%;
    font-family: "Roboto";
    h1 {
        width: 100%;
        text-align: center;
    }
    .contact-form {
        margin: 10%;
        display: flex;
        flex-direction: column;
        
        .name-email {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .cinput-container {
                width: 48%;
            }
            @media (max-width: 414px) {
                flex-direction: column;
            }
        }
        .recaptch-submit {
            display: flex;
            button {
                background-color: #f9f9f9;
            }
            @media (max-width: 414px) {
                flex-direction: column;
            }
        }
    }
}
